# Copy this file to .env.
# Edit the .env file with the required settings before starting the app.

# 1. Required: Provide your web service URL for scoring.
# E.g., MODEL_URL=https://<cluster_url>/v4/deployments/<deployment_space_guid>/predictions
MODEL_URL=


# 2. Required: fill in EITHER section A OR B below:

# ### A: Authentication using API_TOKEN
#   Fill in your API Token. You don't need to update the TOKEN_REQUEST_URL
#   Example:
#     TOKEN_REQUEST_URL=https://iam.ng.bluemix.net/identity/token
#     API_TOKEN=<Your API Key>
TOKEN_REQUEST_URL=https://iam.ng.bluemix.net/identity/token
API_TOKEN=

# ### B: (advanced) Provide your bearer token.
#   Uncomment the "AUTH_TOKEN=" below and fill in your Bearer Token.
#   You can generate this token by followin the lab instuctions. This token should start with "Bearer ".
#   Note: that these tokens will expire after a few hours so you'll need to generate a new one again later.
#   Example:
#       TOKEN=Bearer abCdwFghIjKLMnO1PqRsTuV2wWX3YzaBCDE4.fgH1r2... (and so on, tokens are long).
# AUTH_TOKEN=

# 3. List of fields to inject into request. The request payload must match the input schema of the model. We can inject
# any missing fields with empty values by putting the field names here as a comma separated list.
EXTRA_FIELDS=customerID

# Optional: You can override the server's host and port here.
HOST=0.0.0.0
PORT=5000
